<!-- grabs header from header.ejs-->
<%- include("header") -%>

<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box">
<!-- create new checkbox input for every new item created on the to do list -->
    <% for (var i=0; i<newListItems.length; i++) { %>
    <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i] %></p>
    </div>
    <% } %>

<!-- create form to get user input for their "to do list" -->
    <form class ="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
</div>

<!-- grabs footer from footer.ejs-->
<%- include("footer") -%>
