<!-- grabs header from header.ejs-->
<%- include("header") -%>

<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box">

<!-- create checkbox for each new item. also uses the checkbox to submit a delete request to delete the post -->
   <% newListItems.forEach(function(item){ %>
    <form action="/delete" method="post">
        <div class="item">
            <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
            <p><%=item.name%></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>">
    </form>
    <% }) %>

<!-- create form to get user input for their "to do list" -->
    <form class ="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
</div>

<!-- grabs footer from footer.ejs-->
<%- include("footer") -%>
